
@import './variables';
@import './header';

.contact {
    ////////////////////////////////////////////////
    // Mixins
    ////////////////////////////////////////////////

    // @include flexCenter(row, blue);

    ////////////////////////////////////////////////
    // Extends
    ////////////////////////////////////////////////
    @extend header;
    background: lightcoral;
    background: purple;


    width: 100% - 50%;

}